@charset "UTF-8";
/* fix: logo too big on desktop */
#intro-header {
  background-color: #558eaf; }

.center-wrapper {
  text-align: center; }

/* fix: link color does not differ from text color */
/* fix: disqus commends should leave some space */
#disqus_thread {
  margin-top: 30px; }

/* fix: theme targets page footer by element name */
footer {
  padding: 0;
  /*reset*/ }

#page-footer {
  padding: 50px 0 65px; }

/* fix: font too big */
.empty-list-fallback {
  font-size: 0.8em;
  font-style: italic; }

/* feature: task list */
todo-list {
  display: block; }

tasks {
  display: block;
  padding: 15px; }

task {
  display: block;
  margin-bottom: 2px;
  font-size: 0.9em; }
  task:hover task-priority:after {
    content: "✔";
    color: #42a442; }

task-priority {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 35%;
  border: 1px solid #D5D5D5; }
  task-priority.high {
    background-color: #FF4136; }
  task-priority.medium {
    background-color: #FFDC00; }
  task-priority.low {
    background-color: #fbfbfb; }

task-description {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  margin-left: 3px;
  cursor: default;
  position: relative;
  top: 1px; }

/* fix: spacing for paragraphs is too big in my opinion */
p {
  margin: 16px 0; }

.post-thumbnail {
  border: 1px solid #dcdcdc; }

/* fix: align post title with thumbnail image on a list */
.post-preview .media-body p {
  margin-top: 0;
  margin-bottom: 0; }
  .post-preview .media-body p.lead {
    /* not in excerpts*/
    font-size: inherit; }

.media-left {
  padding-right: 14px; }

p.read-more {
  text-align: right; }
  p.read-more a {
    color: #000000; }

a img:hover,
a img:focus {
  cursor: pointer; }

.post-heading h1 a {
  color: #ffffff; }
  .post-heading h1 a:hover {
    color: #ffffff; }

@media screen and (max-width: 640px) {
  .post-preview .media .media-left {
    display: none; } }

nav.navbar, #intro-header, hr, div.sidebar {
  display: block; }

div.media-left {
  display: table-cell; }

.navbar-custom.is-fixed {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0; }

.navbar-custom.is-fixed .navbar-brand, .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus,
.navbar-custom.is-fixed .nav li a {
  color: #ffffff !important; }

.sidebar .media {
  font-size: 0.8em; }
  .sidebar .media img {
    width: 52px;
    height: 52px;
    border: 1px solid #dcdcdc; }

ul li a {
  text-decoration: underline; }

.disqus-comments-count-container {
  margin-left: 10px; }

.disqus-comments-count-container-sidebar {
  margin-left: 4px;
  color: #a1a1a1; }

.post-list-post-thumbnail {
  width: 75px;
  height: 75px; }

.content-index .media-body h3 {
  margin-top: 0;
  margin-bottom: 0; }

.content-index .media-body .post-meta {
  margin-top: 5px; }

.tags-sidebar {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", sans-serif; }

.article-title-index {
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  font-size: 24px; }

.sidebar aside {
  margin-bottom: 30px; }
  .sidebar aside h1 {
    font-size: 0.85em;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px; }
  .sidebar aside p {
    font-size: 0.85em; }

.other-blog-posts a {
  font-family: "Times New Roman", serif;
  font-size: 1em; }

.semibold {
  font-weight: 400; }

.skip-to-main-content {
  position: absolute;
  left: -300px;
  background-color: #000000;
  color: #ffffff !important;
  padding: 10px 20px 10px 20px;
  z-index: 5;
  text-decoration: underline; }
  .skip-to-main-content:focus {
    left: 0; }

#content a:focus, #page-footer a:focus {
  color: #000;
  background-color: #feffbf;
  outline: 2px dotted #d4b32a;
  text-decoration: none; }
  #content a:focus h1, #content a:focus h2, #content a:focus h3, #content a:focus h4, #content a:focus h5, #page-footer a:focus h1, #page-footer a:focus h2, #page-footer a:focus h3, #page-footer a:focus h4, #page-footer a:focus h5 {
    background-color: #feffbf; }

.navbar-nav a {
  text-decoration: none; }
  .navbar-nav a:hover {
    text-decoration: underline; }
  .navbar-nav a:focus {
    color: #fff !important;
    background-color: #000 !important;
    outline: 2px dotted #60e3ff; }

.mailchimp-form #mc_embed_signup input.mce_inline_error {
  border: 1px solid #d21919;
  outline: #d21919 solid 1px;
  background-color: #fff4f4; }

.mailchimp-form #mce-success-response {
  color: #2ECC40;
  font-size: 14px;
  border: 1px solid #449d44;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #eaffe2; }

.mailchimp-form #mce-error-response {
  color: #78130E;
  font-size: 14px;
  border: 1px solid #b71111;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #ffe2e2; }

.mailchimp-form .fa-user {
  left: 12px; }

.mailchimp-form .form-group {
  margin-bottom: 13px;
  position: relative; }
  .mailchimp-form .form-group input {
    padding-left: 38px;
    padding-right: 13px; }
  .mailchimp-form .form-group .fa-input {
    width: 30px;
    font-size: 16px;
    position: absolute;
    top: 4px;
    left: 10px; }

.mailchimp-post-footer {
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
  padding: 15px 27px 15px 27px; }
  .mailchimp-post-footer #mc_embed_signup {
    margin-top: 18px; }
  .mailchimp-post-footer h2 {
    margin-top: 5px;
    font-size: 24px; }
  .mailchimp-post-footer .form-group {
    display: inline-block; }
  .mailchimp-post-footer #mce-EMAIL {
    width: 365px; }
  .mailchimp-post-footer p {
    margin-bottom: 6px; }
  .mailchimp-post-footer #mce-responses {
    margin-top: 12px; }

.sidebar-about-image-wrapper {
  float: right;
  padding: 10px 3px 3px 3px; }

.sidebar-about-image {
  border: 1px solid #b0b0b0;
  width: 80px;
  height: 80px; }

p.lead, .lead {
  font-size: 2.2rem; }

@media only screen and (max-width: 768px) {
  .mailchimp-post-footer #mce-EMAIL {
    width: 100%; } }

.fa {
  font-family: 'fontello'; }

.img-generated {
  margin: 0 auto 0 auto; }

.podcast-list-cover {
  width: 130px;
  height: 130px;
  border: 1px solid #a2a2a2; }

.podcast-metadata {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em; }

.podcast-description {
  margin-top: 3px; }

#about-profile-photo {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
  padding: 3px;
  border: 1px solid #d7d7d7; }

#about-profile-photo-image {
  margin-bottom: 3px; }

@media screen and (max-width: 991px) {
  #about-profile-photo-image {
    width: 100%; } }

@media screen and (min-width: 991px) {
  #about-profile-photo {
    float: right;
    margin-left: 10px; }
  #about-profile-photo-image {
    width: 300px; } }

#show-reference-list {
  font-size: 12px;
  text-transform: uppercase;
  cursor: default; }
  #show-reference-list:hover {
    text-decoration: underline; }

.podcast-actions {
  margin-top: 10px; }

.podcast-actions-button {
  width: 100%; }

.media-object-podcast-details-cover {
  width: 100%;
  border: 1px solid #a2a2a2; }

.header-podcast {
  background-image: url("/assets/img/podcast/programowanie-na-sniadanie/podcast-banner-image.jpg"); }

.media-object-podcast-details-cover {
  background-image: url("../img/podcast/programowanie-na-sniadanie/podcast-cover-206.jpg");
  width: 206px;
  height: 206px; }

.media-object-podcast-details-cover-responsive {
  display: none; }

/* On smaller screens than 768, podcast episode page must be displayed differently */
@media only screen and (max-width: 768px) {
  .media-podcast-details .media-object-podcast-details-cover {
    display: none; }
  .media-podcast-details .media-object-podcast-details-cover-responsive {
    display: block; }
  .media-podcast-details .media-left, .media-podcast-details .media-top {
    display: block; }
  .media-podcast-details .media-heading-podcast {
    margin-top: 15px; }
  #podcast-index-page-image {
    display: none; } }

.site-heading a {
  color: #ffffff; }
  .site-heading a :hover {
    color: #ffffff; }

.podcast-listen-online {
  width: 100%; }

.podcast-subscription-form {
  margin-top: 20px;
  background-image: url("/assets/img/podcast/programowanie-na-sniadanie/subscribe-form-background.jpg");
  max-width: 1140px;
  width: 100%;
  background-size: cover cover;
  color: #fff; }
  .podcast-subscription-form #mc_embed_signup {
    padding: 40px; }
    .podcast-subscription-form #mc_embed_signup .subscription-form-header {
      font-family: "Segoe UI",sans-serif;
      font-size: 30px;
      font-weight: 300;
      margin-top: 0; }
    .podcast-subscription-form #mc_embed_signup input[type=email], .podcast-subscription-form #mc_embed_signup input[type=text] {
      font-size: 18px;
      font-family: "Segoe UI",sans-serif;
      font-weight: 300;
      margin-bottom: 3px;
      height: 39px;
      vertical-align: top; }
    .podcast-subscription-form #mc_embed_signup .btn {
      height: 39px;
      line-height: 15px;
      vertical-align: top; }
    .podcast-subscription-form #mc_embed_signup .follow-external-button:hover {
      opacity: 0.96; }

.podcast-transcript-jingle {
  color: #777;
  text-align: center;
  font-style: italic; }
  .podcast-transcript-jingle:before {
    content: '= '; }
  .podcast-transcript-jingle:after {
    content: ' ='; }

#show-newsletter-form {
  padding: 0 23px; }

.subscription-option {
  height: 39px;
  vertical-align: top; }

#mc-embedded-subscribe-form footer {
  margin-top: 0; }

.mailchimp-sidebar #show-newsletter-form {
  padding: 10px 15px; }

.fb-like {
  width: 100%;
  text-align: center;
  border: 1px solid #f4f4f4;
  padding: 11px 0;
  margin-top: 5px;
  overflow: hidden;
  /* on smaller screens it won't fit */ }
